      /* background */
   .card {
    z-index: -100;
    background-color: green;
    animation: spin 75s linear infinite;
 }
 @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

 .cloud {
    height: 200px;
    width: 400px;
    position: absolute;
    z-index: -100;
 }
 .midClouds {
    left: 550px;
    animation-name: midclouds;
    animation-duration: 10s;
    animation-iteration-count: 1;
 }
 @keyframes midclouds {
   0%   {left:550px;}
   15%  {left:575px;}
   30%  {left:600px;}
   45%  {left:625px;}
   60%  {left:600px;}
   75%  {left:575px;}
   100% {left:550px;}
 }


/* form */
 #title {
    color: whitesmoke;
    text-shadow: -1.5px 0 purple, 1.5px 0 purple, 0 -1.5px purple, 0 1.5px purple;
    font-weight: bold;
 }

 .wrapper {
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;    
    top: 5%;
    z-index: 1;
    overflow-y:auto;
 }

 input {
    background: #ffcccc;
    padding: 5px;
    margin: 15px;
    font-family: 'Raleway', sans-serif;
    transition-duration: 2s;
 }

 input:hover {
    background: #ffffcc;
 }

 #inputBox {
    visibility: hidden;
    display: inline-block;
    padding: 30px;
    margin: 10px;
    margin-top: 10%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.86);
    box-shadow: 0 4px 8px 0 #07173c, 0 6px 20px 0 #07173c;
 /* CSS3 Transitions */
    transition-duration: 500ms;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
 }

 /* CSS3 Transform */
 #inputBox:hover {
    box-shadow: 0px 0px 15px 5px #ffffcc;
 }

/* display */
 #cardCase {
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;    
    top: 40%;
    z-index: 3;
    visibility: hidden;
    overflow-y:auto;
    overflow-x:hidden;
 }
 /* animation */
 .card:hover {
    height: 200px;
    width: 200px;
    animation-iteration-count: 3;
    animation: dance 100ms;
    animation-duration: 1000ms;
 }

 /* animation */
 @keyframes dance {
   0%   { transform: translate(-1px,  1px) rotate( 0deg); }
   10%  { transform: translate(-3px, -1px) rotate(-5deg); }
   20%  { transform: translate(-5px,  0px) rotate( -3deg); }
   30%  { transform: translate( 3px,  2px) rotate( -1deg); }
   40%  { transform: translate( 1px, -2px) rotate( 1deg); }
   50%  { transform: translate(-1px, -1px) rotate( 3deg); }
   60%  { transform: translate(-3px,  1px) rotate( 5deg); }
   70%  { transform: translate(-5px,  0px) rotate( 3deg); }
   80%  { transform: translate( 3px,  2px) rotate( 1deg); }
   90%  { transform: translate( 5px, -2px) rotate( -1deg); }
   100% { transform: translate(-1px,  1px) rotate(-2deg); }
 }


/* elements */
 body {
    background-image: linear-gradient(to bottom right, #7096EF, #545BE6, #6C51E6);
    font-family: 'Raleway', sans-serif;
 }

 button {
    font-family: 'Raleway', sans-serif;
 }