      /* background */
      #card {
        background-color: green;
     }
     #test {
        background-color: purple;
     }
     @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    
    
     /* animation */
     @keyframes dance {
       0%   { transform: translate(-1px,  1px) rotate( 0deg); }
       10%  { transform: translate(-3px, -1px) rotate(-5deg); }
       20%  { transform: translate(-5px,  0px) rotate( -3deg); }
       30%  { transform: translate( 3px,  2px) rotate( -1deg); }
       40%  { transform: translate( 1px, -2px) rotate( 1deg); }
       50%  { transform: translate(-1px, -1px) rotate( 3deg); }
       60%  { transform: translate(-3px,  1px) rotate( 5deg); }
       70%  { transform: translate(-5px,  0px) rotate( 3deg); }
       80%  { transform: translate( 3px,  2px) rotate( 1deg); }
       90%  { transform: translate( 5px, -2px) rotate( -1deg); }
       100% { transform: translate(-1px,  1px) rotate(-2deg); }
     }