<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Weather API Project</title>
        <meta name="Weather API" content="This is a project using a 3rd party Weather API.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      Zip Code:
      <input type="text" id="zip">
      <button onclick="runAJAX()">Search</button>
      <p id="display">Haven't Started</p>
      <p id="temp"></p>
      <script>
      
        function setWeather() {
          storeUser();
        }
  
        function runAJAX() {
          document.getElementById("display").innerHTML = "Start";
          var userZip = document.getElementById("zip").value;
          storeUser();
          AJAX(userZip);
        }
  
        function AJAX(zip) {
          var str = "https://api.openweathermap.org/data/2.5/weather?zip=" + zip + ",us&APPID=d380e2a8215f99dffadfe81ffcbd602b";
              
          // AJAX call to API  
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  // STRINGIFY
                  document.getElementById("display").innerHTML = "Finish AJAX";
                  var str = this.response;
                  // store to local storage
                  localStorage.setItem("userWeather", str);
                  displayWeather();
                  //  console.log("weather is up to date")
                }
                document.getElementById("display").innerHTML = this.status;
                document.getElementById("temp").innerHTML = this.statusText;
              };
              xhttp.open("GET", str, true);
              xhttp.send();
        }
  
        function displayWeather() {
          document.getElementById("temp").innerHTML = "Start Display";
          // access locally storage
          var str = localStorage.getItem("userWeather");
          // PARSE
          var weather = JSON.parse(str);
          // Present Data   
          var JSONtemp = k2f(weather.main.temp);
          document.getElementById("temp").innerHTML = "Test";
  /*
          var highTemp = k2f(weather.main.temp_max);
          var div = document.getElementById("high");
          div.innerHTML += highTemp;
  
          var LowTemp = k2f(weather.main.temp_min);
          var div = document.getElementById("low");
          div.innerHTML += LowTemp;
  
          var humidity = weather.main.humidity + "&#37;";
          var div = document.getElementById("humidity");
          div.innerHTML += humidity;
          //Greet user
          var name = localStorage.getItem("user");
          document.getElementById("greet").innerHTML += "Welcome, " + name + ". Here is the weather in " + weather.name + ".";
  */
        }
  
        function k2f(kelvin) {
          var f = Math.round((kelvin - 273.15) * 9/5 + 32) + "&#8457";
          return f;
        }
  
        function storeUser() {
          localStorage.setItem("userZip", document.getElementById("zip").value);
        }
  
        function forgetMe() {
          localStorage.clear();
          location.reload(true);
        }
      </script>
    </body>
</html>


