<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Weather API Project</title>
        <meta name="Weather API" content="This is a project using a 3rd party Weather API.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
      Zip Code:
      <input type="text" id="zip">
      <button onclick="runAJAX()">Search</button>
      <div id=card>
        <p id="temp"></p><br>
        <p id="high"></p><br>
        <p id="low"></p><br>
        <p id="humid"></p><br>
      </div>
      <script>
      
        function setWeather() {
          storeUser();
        }
  
        function runAJAX() {
          var zip = document.getElementById("zip").value;
          storeUser();
          AJAX(zip);
        }
  
        function AJAX(zip) {
          var URL = "https://api.openweathermap.org/data/2.5/weather?zip=" + zip + ",us&APPID=d380e2a8215f99dffadfe81ffcbd602b";
              
              // AJAX
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  var str = this.response;
                  localStorage.setItem("userWeather", str);
                  display();
                }
              };
              xhttp.open("GET", URL, true);
              xhttp.send();
        }
  
        function display() {
          var JSONitem = localStorage.getItem("userWeather");
          var weather = JSON.parse(JSONitem);  
          //current
          var temp = convert(weather.main.temp);
          document.getElementById("temp").innerHTML = temp;
          //high
          var high = convert(weather.main.temp_max);
          document.getElementById("high").innerHTML = high;
          //low
          var low = convert(weather.main.temp_min);
          document.getElementById("low").innerHTML = low;
 
          //humid
          var humid = weather.main.humidity + "&#37;";
          document.getElementById("humid").innerHTML = humid; 
        }
  
        function convert(k) {
          var f = Math.round((k - 273.15) * 9/5 + 32) + "&#8457";
          return f;
        }
  
        function storeUser() {
          localStorage.setItem("userZip", document.getElementById("zip").value);
        }
  
        function forgetMe() {
          localStorage.clear();
          location.reload(true);
        }
      </script>
    </body>
</html>


