<!DOCTYPE html>
    <head>
        <title>Weather API Project</title>
        <meta name="Weather API" content="This is a project using a 3rd party Weather API.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body onload="checkUser()">
        <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">United States Weather App</h3>
        <p>This application will prompt you to input the zip code of the area that you want to know the weather details at! This will work on any United States zip code, and  was developed for the CIT261 Final Project.</p>
        
        Zip Code:
        <input type="text" id="zip">
        <button id = "but" onclick="runAJAX()">Search</button>
        <div class= "card" id= "card">
            <p id="city"></p>
            <p id="temp"></p>
            <p id="high"></p>
            <p id="low"></p>
            <p id="humid"></p>
        </div>
        <script>

            function runAJAX() {
                var zip = document.getElementById("zip").value;
                document.getElementById("city").innerHTML = "Zip: " + zip;
                storeUser();
                hideCard();
                AJAX(zip);
            }
    
            function AJAX(zip) {
            var URL = "https://api.openweathermap.org/data/2.5/weather?zip=" + zip + ",us&APPID=d380e2a8215f99dffadfe81ffcbd602b";
                
                // AJAX
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                    var str = this.response;
                    localStorage.setItem("userWeather", str);
                    display();
                    }
                };
                xhttp.open("GET", URL, true);
                xhttp.send();
            }

            function hideCard() {
                document.getElementById("card").style.animation = "flyout 1ms";
            }

            function display() {
                var JSONitem = localStorage.getItem("userWeather");
                var weather = JSON.parse(JSONitem);  
                //current
                var temp = convert(weather.main.temp);
                document.getElementById("temp").innerHTML = "Current Temperature: " + temp;
                //high
                var high = convert(weather.main.temp_max);
                document.getElementById("high").innerHTML = "Projected high: " + high;
                //low
                var low = convert(weather.main.temp_min);
                document.getElementById("low").innerHTML = "Projected low: " + low;
        
                //humid
                var humid = weather.main.humidity + "&#37;";
                document.getElementById("humid").innerHTML = "Current humidity: " + humid; 

                //add animations
                document.getElementById("card").style.animation = "flyin 3s";
            }
    
            function convert(k) {
                var f = Math.round((k - 273.15) * 9/5 + 32) + "&#8457";
                return f;
            }
    
            function storeUser() {
                localStorage.setItem("userZip", document.getElementById("zip").value);
            }

            function checkUser() {
                var city = localStorage.getItem("userZip");
                if (city != null) {
                    document.getElementById("city").innerHTML = "Zip: " + city;
                    AJAX(city);
                }
            }
      </script>
    </body>
</html>


